* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.image {
    width: 400px;
    height: 400px;
    background-image: url("./images/pet.jpeg");
    background-repeat: no-repeat
}

.btm-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 4em;
    border: 1px black solid;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    width: 100%;
}
